/coverage
/public/docs
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.docker/infrastructure/local/db/data
.docker/infrastructure/local/minio/config
.docker/infrastructure/local/minio/data
