parameters:
  level: 7
  bootstrap: null
  excludes_analyse: []
  autoload_directories: []
  autoload_files: []
  fileExtensions:
      - php
  checkAlwaysTrueCheckTypeFunctionCall: false
  checkAlwaysTrueInstanceof: false
  checkClassCaseSensitivity: false
  checkFunctionArgumentTypes: false
  checkArgumentsPassedByReference: false
  checkMaybeUndefinedVariables: false
  checkNullables: false
  checkThisOnly: true
  checkUnionTypes: false
  polluteScopeWithLoopInitialAssignments: true
  polluteCatchScopeWithTryAssignments: false
  ignoreErrors:
      - '#Static call to instance method .*#'
  internalErrorsCountLimit: 50
  reportUnmatchedIgnoredErrors: true
  universalObjectCratesClasses:
      - stdClass
      - SimpleXMLElement
  excludePaths:
    - packages/Basic #除外ディレクトリ
  paths:
    - packages
services:
  -
    class: PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
    tags:
      - phpstan.rules.rule
  -
    class: PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
    tags:
      - phpstan.rules.rule
